{{ define "header_css" }}{{ end }}
{{ define "body_classes" }}page-pages-aboutlayout{{ end }}
{{ define "header_classes" }}{{ end }}

{{ define "main" }}
{{ partial "hero-image-fullscreen.html" (dict "background" .Params.heroBackground "heading" .Params.heroHeading "subheading" .Params.heroSubHeading "content" .)}}

<font color="#FFFFFF">{{ .Content }}</font>

<div class="container">
  <div class="row">
    <div class="col-12 col-md-8">
      <h4 class="mt-4">Annual Events Calendar</h4>
      <table class="table table-sm opening-hours-table">
        <tr>
          <td class="day font-weight-bold">February</td>
          <td class="closes">Meet the Researchers Session
            <br>Valentine's Day Fundraising
            <br>Science Day
          </td>
        </tr>
        <tr>
          <td class="day font-weight-bold">April</td>
          <td class="closes">Welfare Packs for Sem 2 Exams</td>
        </tr>
        <tr>
          <td class="day font-weight-bold">May</td>
          <td class="closes">Chemistry Night
            <br>NUS Science Open House
          </td>
        </tr>
        <tr>
          <td class="day font-weight-bold">July</td>
          <td class="closes">Chemistry Freshmen Orientation Camp</td>
        </tr>
        <tr>
          <td class="day font-weight-bold">August</td>
          <td class="closes">Junior Colleges/Polytechnic Outreach
            <br>Essentials for Y1s (Guide to Chemistry in NUS)
            <br>Sale of Molecular Model Kits
            <br>Annual General Meeting
          </td>
        </tr>
        <tr>
          <td class="day font-weight-bold">September</td>
          <td class="closes">Cohort T-Shirt Design Competition</td>
        </tr>
        <tr>
          <td class="day font-weight-bold">October</td>
          <td class="closes">Quick-Fire Questions
            <br>Halloween Bazaar
          </td>
        </tr>
        <tr>
          <td class="day font-weight-bold">November</td>
          <td class="closes">Welfare Tea</td>
        </tr>
        <tr>
          <td class="day font-weight-bold">December</td>
          <td class="closes">BASF Kid's Lab</td>
        </tr>
      </table>
    </div>
  </div>
</div>

{{ end }}
