{{ define "header_css" }}{{ end }}
{{ define "body_classes" }}page-contact{{ end }}
{{ define "header_classes" }}{{ end }}

{{ define "main" }}
<div class="intro intro-small">
  <div class="container">
    <div class="row">
      <div class="col-12">
        <h1>{{ .Title }}</h1>
      </div>
    </div>
  </div>
</div>
<div class="container">
  <div class="row">
    <div class="col-12 col-md-8">
      {{ .Content }}
      <ul>
        <li><strong>Address: </strong>{{ .Site.Data.contact.address }}</li>
        <li><strong>Email: </strong>{{ .Site.Data.contact.email }}</li>
        <li><strong>Facebook: </strong><a href="http://www.facebook.com/nuscss">www.facebook.com/nuscss</a></li>
        <li><strong>Instagram: </strong><a href="http://www.instagram.com/chemsocnus">www.instagram.com/chemsocnus</a></li>
        <li><strong>Telegram Channel: </strong><a href="http://t.me/nuscss">t.me/nuscss</a></li>
      </ul>
    </div>
  </div>
</div>
{{ end }}
